# First Step
## Importing Pandas
 First we entered in the CountyHealthData_2014-2015 (1).csv by using pandas 
 
 We did this by importing pandas using the following commands 
 
`import numpy as np
import pandas as pd`

In [3]:
import numpy as np
import pandas as pd

# Second Step
## Importing County Health Data 
Next, we imported our County Health Data CSV using the `pd.read_csv()` function
* we also defined the object as `df` by setting it equal to our `pd.read_csv()`

In [4]:
df=pd.read_csv("CountyHealthData_2014-2015 (1).csv")

# Third Step
## Viewing the Data
Now that the data has been inserted we can now alter the data by using different attributes using the function `<DataFrame name>.<attribute name>` 

in this next example we will find the column names of the data set using `.columns`

In [3]:
df.columns

Index(['State', 'Region', 'Division', 'County', 'FIPS', 'GEOID', 'SMS Region',
       'Year', 'Premature death', 'Poor or fair health',
       'Poor physical health days', 'Poor mental health days',
       'Low birthweight', 'Adult smoking', 'Adult obesity',
       'Food environment index', 'Physical inactivity',
       'Access to exercise opportunities', 'Excessive drinking',
       'Alcohol-impaired driving deaths', 'Sexually transmitted infections',
       'Teen births', 'Uninsured', 'Primary care physicians', 'Dentists',
       'Mental health providers', 'Preventable hospital stays',
       'Diabetic screening', 'Mammography screening', 'High school graduation',
       'Some college', 'Unemployment', 'Children in poverty',
       'Income inequality', 'Children in single-parent households',
       'Social associations', 'Violent crime', 'Injury deaths',
       'Air pollution - particulate matter', 'Drinking water violations',
       'Severe housing problems', 'Driving alone to work',
       'Long commute - driving alone', '2011 population estimate',
       'Population that is not proficient in English',
       'Population living in a rural area', 'Diabetes', 'HIV prevalence rate',
       'Premature age-adjusted mortality', 'Infant mortality',
       'Child mortality', 'Food insecurity', 'Limited access to healthy foods',
       'Motor vehicle crash deaths', 'Drug poisoning deaths',
       'Uninsured adults', 'Uninsured children', 'Health care costs',
       'Could not see doctor due to cost', 'Other primary care providers',
       'Median household income', 'Children eligible for free lunch',
       'Homicide rate', 'Inadequate social support'],
      dtype='object')

# Fourth Step
## Extracting Single Columns 
Here we can look at a single column from the data set using the 'Series' function

We can extract a series using bracket notation `df["Children in poverty"]`

In [5]:
df["Children in poverty"]

0       0.087
1       0.076
2       0.128
3       0.102
4       0.351
        ...
6104    0.135
6105    0.183
6106    0.145
6107    0.141
6108    0.122
Name: Children in poverty, Length: 6109, dtype: float64

# Fifth Step
## Viewing NC Data Only
Now we will view only the NC data by filtering our data to only show NC using the `df[df["State"] == "NC"]`
function
* the inner statement looks for column with the name NC 
* the outer statement looks for rows that match that column

In [6]:
df[df["State"] == "NC"]

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
3243,NC,South,South Atlantic,Alamance County,37001,37001,Region 20,1/1/2014,7123.0,0.192,...,10.48,0.259,0.073,8640.0,0.167,46.0,41394,0.444,4.94,0.202
3244,NC,South,South Atlantic,Alamance County,37001,37001,Region 20,1/1/2015,7291.0,0.192,...,12.38,0.249,0.088,9050.0,0.167,56.0,43001,0.455,4.60,NaN
3245,NC,South,South Atlantic,Alexander County,37003,37003,Region 20,1/1/2014,7974.0,0.178,...,22.74,0.240,0.077,9316.0,0.205,30.0,39655,0.417,6.27,0.273
3246,NC,South,South Atlantic,Alexander County,37003,37003,Region 20,1/1/2015,8079.0,0.178,...,24.04,0.239,0.076,9242.0,0.205,32.0,46064,0.449,7.20,NaN
3247,NC,South,South Atlantic,Alleghany County,37005,37005,Insuff Data,1/1/2014,8817.0,0.234,...,18.18,0.320,0.131,9585.0,0.210,55.0,34046,0.523,NaN,0.215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3438,NC,South,South Atlantic,Wilson County,37195,37195,Region 20,1/1/2015,8028.0,0.159,...,7.31,0.262,0.079,9450.0,0.107,77.0,40772,0.556,9.60,NaN
3439,NC,South,South Atlantic,Yadkin County,37197,37197,Region 20,1/1/2014,7893.0,0.207,...,18.45,0.252,0.097,10084.0,0.158,32.0,40012,0.422,3.76,0.241
3440,NC,South,South Atlantic,Yadkin County,37197,37197,Region 20,1/1/2015,7258.0,0.207,...,20.21,0.242,0.094,10998.0,0.158,32.0,40998,0.455,NaN,NaN
3441,NC,South,South Atlantic,Yancey County,37199,37199,Region 15,1/1/2014,6872.0,0.193,...,20.79,0.268,0.110,7707.0,0.158,79.0,36019,0.477,NaN,0.176
3442,NC,South,South Atlantic,Yancey County,37199,37199,Region 15,1/1/2015,8917.0,0.193,...,28.02,0.246,0.091,7870.0,0.158,74.0,35866,0.469,NaN,NaN

# Sixth Step
## Defining The Subset
Now we will define this subset using the `.copy()` function so we can manipulate the data only within this subset

In [8]:
NC_subset = df[df["State"] == "NC"].copy()

Now we can recall the data and view only the NC_subset

In [9]:
NC_subset

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
3243,NC,South,South Atlantic,Alamance County,37001,37001,Region 20,1/1/2014,7123.0,0.192,...,10.48,0.259,0.073,8640.0,0.167,46.0,41394,0.444,4.94,0.202
3244,NC,South,South Atlantic,Alamance County,37001,37001,Region 20,1/1/2015,7291.0,0.192,...,12.38,0.249,0.088,9050.0,0.167,56.0,43001,0.455,4.60,NaN
3245,NC,South,South Atlantic,Alexander County,37003,37003,Region 20,1/1/2014,7974.0,0.178,...,22.74,0.240,0.077,9316.0,0.205,30.0,39655,0.417,6.27,0.273
3246,NC,South,South Atlantic,Alexander County,37003,37003,Region 20,1/1/2015,8079.0,0.178,...,24.04,0.239,0.076,9242.0,0.205,32.0,46064,0.449,7.20,NaN
3247,NC,South,South Atlantic,Alleghany County,37005,37005,Insuff Data,1/1/2014,8817.0,0.234,...,18.18,0.320,0.131,9585.0,0.210,55.0,34046,0.523,NaN,0.215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3438,NC,South,South Atlantic,Wilson County,37195,37195,Region 20,1/1/2015,8028.0,0.159,...,7.31,0.262,0.079,9450.0,0.107,77.0,40772,0.556,9.60,NaN
3439,NC,South,South Atlantic,Yadkin County,37197,37197,Region 20,1/1/2014,7893.0,0.207,...,18.45,0.252,0.097,10084.0,0.158,32.0,40012,0.422,3.76,0.241
3440,NC,South,South Atlantic,Yadkin County,37197,37197,Region 20,1/1/2015,7258.0,0.207,...,20.21,0.242,0.094,10998.0,0.158,32.0,40998,0.455,NaN,NaN
3441,NC,South,South Atlantic,Yancey County,37199,37199,Region 15,1/1/2014,6872.0,0.193,...,20.79,0.268,0.110,7707.0,0.158,79.0,36019,0.477,NaN,0.176
3442,NC,South,South Atlantic,Yancey County,37199,37199,Region 15,1/1/2015,8917.0,0.193,...,28.02,0.246,0.091,7870.0,0.158,74.0,35866,0.469,NaN,NaN

# Seventh Step
## Maipulating the NC data
Now we will view only the columns `["Children in poverty", "Population that is not proficient in English", "Median household income"]`
* We do this by using the `set.loc` function that searches for columns with the set attributes 
* So here we will enter in `NC_subset.loc[:,["Children in poverty", "Population that is not proficient in English", "Median household income"]]`
* the : signifies using viewing every row within the dataset

In [13]:
NC_subset.loc[:,["Children in poverty", "Population that is not proficient in English", "Median household income"]]

,Children in poverty,Population that is not proficient in English,Median household income
3243,0.292,0.034,41394
3244,0.271,0.033,43001
3245,0.250,0.008,39655
3246,0.229,0.008,46064
3247,0.347,0.020,34046
...,...,...,...
3438,0.337,0.035,40772
3439,0.312,0.024,40012
3440,0.271,0.020,40998
3441,0.310,0.016,36019
3442,0.308,0.014,35866

# Eight Step
## Defining Our Final Subset
Now we will define our subset with our column filters again using the same protocal in step six
* This Function will be `Final_Subset= NC_subset.loc[:,["Children in poverty", "Population that is not proficient in English", "Median household income"]].copy()`

In [14]:
Final_Subset= NC_subset.loc[:,["Children in poverty", "Population that is not proficient in English", "Median household income"]].copy()

In [15]:
Final_Subset

,Children in poverty,Population that is not proficient in English,Median household income
3243,0.292,0.034,41394
3244,0.271,0.033,43001
3245,0.250,0.008,39655
3246,0.229,0.008,46064
3247,0.347,0.020,34046
...,...,...,...
3438,0.337,0.035,40772
3439,0.312,0.024,40012
3440,0.271,0.020,40998
3441,0.310,0.016,36019
3442,0.308,0.014,35866

# Final Step
## Exporting The Filtered Data in a CSV
Now that we have sucessfully filtered the data we will export it to a .cvs file using `Final_Subset.to_csv("Final_Subset.csv", index=False)`
the `index=False` allows us to get rid of the index number

In [16]:
Final_Subset.to_csv("Final_Subset.csv", index=False)

# Viewing The Data
We can now view the new .cvs we made by using the same`pd.read_csv` function we used to import our original data

In [19]:
pd.read_csv("Final_Subset.csv")

,Children in poverty,Population that is not proficient in English,Median household income
0,0.292,0.034,41394
1,0.271,0.033,43001
2,0.250,0.008,39655
3,0.229,0.008,46064
4,0.347,0.020,34046
...,...,...,...
195,0.337,0.035,40772
196,0.312,0.024,40012
197,0.271,0.020,40998
198,0.310,0.016,36019
199,0.308,0.014,35866